<html>
  <div class="hero-unit">
    <div class="warning">
      <% if (params.errCode && params.errCode == -3) { %>
        <p> 
          Invalid Username. Usernames must be at least 1 character long and less than 128 characters. 
        </p>
      <% } %>
      <% if (params.errCode  && params.errCode == -4) { %>
        <p> 
          Invalid Password. Passwords must be at least 1 character long and less than 128 characters. 
        </p>
      <% } %>
    </div>
    <form id="usersModel-form" class="form-horizontal" action="/users/add" method="POST">
      <fieldset>
        <% if (params.errCode && params.errCode == 1) { %>
          <p> Created User: <%= params.user %> </p>
        <% } else { %>

          <legend>Create a new User</legend>

          <%- partial('form', {usersModel: {}}) %>

          <div class="form-actions">
            <a href="javascript:{}" onclick="document.getElementById('usersModel-form').submit();" data-role="button" data-theme="b" data-transition="slide" >
              Add
            </a>
            <!-- <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %> -->
          </div>
        <% } %>
      </fieldset>
    </form>
  </div>

  <style type="text/css">
    .warning {
      color: red;
      text-align: center;
    }
  </style>
</html>