<!DOCTYPE html> 
<html> 
<body> 

  <div class="hero-unit">
    <div id="welcomeContainer" class="hidden2" >
      <div id="welcomeMessage">
      </div>
      <form id="logout-form" class="form-horizontal" action="/" method="GET">
        <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();" data-role="button" data-theme="b" data-transition="slide" >
          Logout
          <input class="hidden"> </input>
        </a>
      </form>
    </div>
    <div id='loginForm'>
      <legend>Login</legend>
      <div class='hidden2 warning' id='firstError' >
          <p> 
            Incorrect Username or Password. Please Try Again. 
          </p>
      </div>
      <div class='hidden2 warning' id='secondError' >
          <p> 
            A user with that username already exists. Please Try Again with another user. 
          </p>
      </div>
      <div class='hidden2 warning' id='thirdError' >
        <p> 
          Invalid Username. Usernames must be at least 1 character long and less than 128 characters. 
        </p>
      </div>
      <div class='hidden2 warning' id='fourthError' >
        <p> 
          Invalid Password. Passwords must be at least 1 character long and less than 128 characters. 
        </p>
      </div>
  
      <fieldset>
        <%- partial('form', {usersModel: {}}) %>

        <div class="button-container">
          <a href="#" onclick="loginClicked();" data-role="button" data-theme="b" data-transition="slide" class='f_left' >
            Login
            <input id='loginInput' name='loginInput' class='hidden' type='checkbox' > </input>
          </a>
          <a href="#" onclick="addClicked();" data-role="button" data-theme="b" data-transition="slide" class='f_right' >
            Add
            <input id='addInput' name='addInput' class='hidden' type='checkbox' > </input>
          </a>
        </div>
      </fieldset>
    </div>
  </div>

  <style type="text/css">
    .warning {
      color: red;
      text-align: center;
    }
    .f_left {
      float: left;
      width: 45%;
    }
    .f_right {
      float: right;
      width: 45%;
    }
    .button-container {
      margin-top: 5%;
    }
  </style>

  <script type="text/javascript">
    //Use these functions to check and unselect check boxes for inputs "Login" and "Add"
    //so that the server knows which button was pressed
    function check()
    {
      document.getElementById("check1").checked=true;
    }
    function uncheck()
    {
      document.getElementById("check1").checked=false;
    }
    $(document).ready(function (response) {
      //Uncheck the inputs
      $('#loginInput').checked = false;
      $('#addInput').checked = false;
      $('.hidden2').hide();

    });


    function handle_login_response(data, user) {
      if (data.errCode){
        if (data.errCode == 1){
          //SUCCESS
          $('.warning').hide();
          $('#loginForm').hide();
          $('#welcomeContainer').show();
          var welcomeHtml = '<p> Welcome: ' + user + '</p>' + 
              '<p> You have logged in ' + data.count + ' times. </p><p></p>';
          $('#welcomeMessage').html(welcomeHtml);
        } else if (data.errCode == -1){
          //Bad user/pw
          $('.warning').hide();
          $('#firstError').show();
        } 
      } 
    }

    //Login button pressed so post to login and change UI
    var loginClicked = function () {
      console.log('loginClicked');
      var user = $('#userInput').val();
      var password = $('#passwordInput').val();
      $.post('/users/login', {user: user, password: password}, function(response){ 
        console.log("calling handle_login_response");
        handle_login_response(response, user);
      }, 'json');
    };

    function handle_add_user_response(data, user) {
      if (data.errCode){
        if (data.errCode == 1){
          //SUCCESS
          $('.warning').hide();
          $('#loginForm').hide();
          $('#welcomeContainer').show();
          var welcomeHtml = '<p> Welcome: ' + user + '</p>' + 
              '<p> You have logged in ' + data.count + ' times. </p><p></p>';
          $('#welcomeMessage').html(welcomeHtml);
        } else if (data.errCode == -2){
          //User Exists
          $('.warning').hide();
          $('#secondError').show();
        } else if (data.errCode == -3){
          //Bad Username
          $('.warning').hide();
          $('#thirdError').show();
        } else if (data.errCode == -4){
          //Bad Password
          $('.warning').hide();
          $('#fourthError').show();
        }
      }
    }

    //Add button pressed so post to add and then change UI
    var addClicked = function () {
      console.log('addClicked');
      var user = $('#userInput').val();
      var password = $('#passwordInput').val();
      $.post('/users/add', {user: user, password: password}, function(response){ 
        console.log("calling handle_add_user_response");
        handle_add_user_response(response, user);
      }, 'json');
    };
  </script>
</body>
</html>