<!DOCTYPE html> 
<html> 
<body> 

  <div class="hero-unit">
        <% if (params.errCode && params.errCode == 1) { %>
          <p> Welcome: <%= params.user %> </p>
          <p> You have logged in <%= params.count %> times. </p>
          <p></p>
          <form id="logout-form" class="form-horizontal" action="/" method="GET">
            <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();" data-role="button" data-theme="b" data-transition="slide" >
              Logout
              <input class="hidden"> </input>
            </a>
            <!-- <a href="/" data-role="button" data-theme="b" data-transition="slide" >Logout</a> -->
          </form>
        <% } else { %>
          <form id="usersModel-form" class="form-horizontal" action="/users/login" method="POST">
            <fieldset>
            <legend>Login</legend>

            <%- partial('form', {usersModel: {}}) %>

            <div class="form-actions">
               <a href="javascript:{}" onclick="document.getElementById('usersModel-form').submit();" data-role="button" data-theme="b" data-transition="slide" >
                Login
                <input id='loginInput' name='loginInput' class='hidden' type='checkbox' > </input>
              </a>
            </div>

            <div class="warning">
              <% if (params.errCode && params.errCode == -1) { %>
                  <p> Incorrect Username or Password. Please Try Again. </p>
              <% } %>
            </div>
        <% } %>
      </fieldset>
    </form>
  </div>

  <style type="text/css">
    .warning {
      color: red;
    }
  </style>

</body>
</html>